{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <p>{{ message }}<p>
  {% endfor %}
{% endwith %}

<h3>Images</h3>
<a href="/images/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add image
</a>

{% for image in images %}
<div class="media">
  <a href="/images/{{image.id}}">
    <div class="media-left">
      {% if image.imageUrl %}
        <img src="{{image.imageUrl}}">
      {% else %}
        <img src="http://placekitten.com/g/128/192">
      {% endif %}
    </div>
    <div class="media-body">
      <h4>{{image.title}}</h4>
      <p>{{image.author}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No images found</p>
{% endfor %}

{% if last_title %}
<nav>
  <ul class="pager">
    <li><a href="?start_after={{last_title}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}

