{% extends "base.html" %}
{% block content %}
<h3>Image</h3>
<div class="btn-group">
  <a href="/images/{{image.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit image
  </a>
  <a href="/images/{{image.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete image
  </a>
</div>
<div class="media">
 {# [START image_image] #}
  <div class="media-left">
    {% if image.imageUrl %}
      <img class="image-image" src="{{image.imageUrl}}">
    {% else %}
      <img class="image-image" src="http://placekitten.com/g/128/192">
    {% endif %}
  </div>
  {# [END image_image] #}
  <div class="media-body">
    <h4 class="image-title">
      {{image.title}}
      <small>{{image.publishedDate}}</small>
    </h4>
    <h5 class="image-author">By {{image.author|default('Unknown', True)}}</h5>
    <p class="image-description">{{image.description}}</p>
  </div>
</div>

{% endblock %}
